# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
venv/
.venv/

# Node / Expo / Bun
node_modules/
.expo/
dist/
build/
*.lock
bun.lockb

# VSCode
.vscode/
old-app/
node_modules/
**/node_modules/

# Windows
Thumbs.db
Desktop.ini

# Compiled
*.dll
*.exe
*.obj
*.pdb
scs-sdk-*